body{
	margin-top: 0px;
	background-color: #f7d74b;
}

#header{
	/*border: 1px solid red;*/
	display: block;
	position: sticky;
	top: 0px;
	min-width: 100%;
	max-width: 100%;
	min-height: 12vh;
	height: 12vh;
	/*margin-bottom: 20px;*/
	background-color: #f7d74b;
	border-bottom: 2px solid black;
}

#navbar{
	/*border: 1px solid red;*/
	position: relative;
	display: flex;
	justify-content: flex-end;
	min-width: relative;
	width: 100%;
	min-height: relative;
	height: 100%;
	
}


.navLink{
	/*border: 1px solid blue;*/
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: relative;
	width: 120px;
	min-height: relative;
	height: 100%;
	margin: 0px 30px 0px 0px;
	font-size: 1.8em;
	color: #202020;
	text-decoration: none;

}

#welcome-section{
	/*border: 1px solid red;*/
	min-width: 100%;
	width: 100%;
	min-height: 90vh;
	height: 90vh;
	background-color: #000;
	margin-bottom: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;


}

#welcome-sectionH1{
	/*border: 1px solid blue;*/
	font-family: ONEDAY;
	src: url('assets/ONEDAY/ONEDAY.ttf') format('ttf');
	font-size: 3.5em;
	color: #f7d74b;
}

#welcome-sectionP{
	/*border: 1px solid blue;*/
	font-family: sans-serif;
	font-size: 1.5rem;
	color: #9fdf00;
	margin: -10px;

}

#projects{
	/*border: 1px solid red;*/
	min-width: 100%;
	width: 100%;
	min-height: 80vh;
	height: 80vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 20px;
	padding-bottom: 20px; 
}

#projectsH1{
	/*border: 1px solid blue;*/
	height: 20%;
	width: 100%;
	font-family: sans-serif;
	font-size: 2.2rem;
	text-align: center;
}

#cardsDiv{
	/*border: 1px solid blue;*/
	display: flex;
	min-height: 80%;
	height: 80%;
	min-width: 100%;
	width: 100%;
	flex-direction: row;
	justify-content: center;
	align-items: center;

}

.cards{
	min-height: 90%;
	height: 90%;
	min-width: 22%;
	width: 22%;
	border-radius: 10px;
	margin: 0px 40px 0px 40px;
}


.cardsImage{
	width: 100%;
	min-height: 80%;
	height: 80%;
	width: 100%;
	border-radius: 10px 10px 0px 0px;
	margin-bottom: -4px;

}

.cardsP{
	
	border-radius: 0px 0px 10px 10px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 20%;
	width: 100%;
	margin-top: -1px;
	font-family: sans-serif;
	font-size: 1.5rem;
	color: #f7d74b;
	background-color: #202020;
}

#projectsMore{
	/*border: 1px solid red;*/
	min-width: 15%;
	width: 15%;
	min-height: 7%;
	background-color: #202020;
	color: #f7d74b;
	font-family: sans-serif;
	font-size: 1.1rem;
	margin: 25px 0px 0px 0px;
}


/*#projectsMore :hover{
	text-decoration: focus;
}*/




#Cooperation{
	border: 1px dotted red;
	margin-top: 50px;
	margin-bottom: 10px;
	min-height: 80vh;
	height: 80vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

}

#CooperationH1{
	/*border: 1px solid blue;*/
	height: 10%;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	font-family: sans-serif;
	font-size: 2.2rem;
	text-align: center;

}

#guycardsDiv{
	/*border: 1px solid black;*/
	display: flex;
	min-height: 70%;
	height: 70%;
	min-width: 100%;
	width: 100%;
	flex-direction: row;
	justify-content: center;
	align-items: center;

}
.guycards{
	/*border: 1px dotted blue;*/
	min-height: 90%;
	height: 90%;
	min-width: 20%;
	width: 20%;
	border-radius: 10px;
	margin: 0px 40px 0px 40px;

}

.guyImages{
	/*border: 1px dotted black;*/
	border-radius: 50%;
	width: 100%;
	min-height: 70%;
	height: 70%;
	width: 100%;
	margin-top: 10px; 
	margin-bottom: 40px;
}

.guysP{
	border: 1px dotted red;
	border-radius: 20px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 20%;
	width: 100%;
	margin-top: -1px;
	font-family: sans-serif;
	text-decoration: none;
	font-size: 1.5rem;
	background-color: #202020;
}

.guysLink{
	text-decoration: none;
	color: #f7d74b;
	font-style: normal;
}

#guyMore{
	/*border: 1px solid red;*/
	min-width: 15%;
	width: 15%;
	min-height: 7%;
	background-color: #202020;
	color: #f7d74b;
	font-family: sans-serif;
	font-size: 1.1rem;
	margin: 40px 0px 0px 10px;
}

#footer{
	border: 1px solid red;
	min-width: 100%
	width: 100%;
	min-height: 100vh;
	max-height: 100vh;
	margin-top: 70px; 
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #202020;

}

#workingDiv{
	border: 1px dotted blue;
	width: 100%;
	height: 60vh;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

#workingTitle{
	border: 1px dotted black;
	font-family: sans-serif;
	font-size: 4rem;
	color: #f7d74b;
	font-weight: 600;

}

#workingP{
	border: 1px solid blue;
	font-family: sans-serif;
	font-size: 1.9rem;
	font-weight: normal;
	color: #9fdf00;
	margin-top: -10px;

}


#ContactPart{
	border: 1px solid blue;
	width: 80vw;
	min-height: 10vh;
	height: 12vh;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	font-family: sans-serif;
	font-size: 1.5rem;

}


#copyRight{
	border: 1px solid red;
}

#copyRightP{
	border: 1px solid blue;
}