body{
	margin-top: 0px;
	background-color: #f7d74b;
}

#header{
	/*border: 1px solid red;*/
	display: block;
	position: sticky;
	top: 0px;
	min-width: 100%;
	max-width: 100%;
	min-height: 12vh;
	height: 12vh;
	/*margin-bottom: 20px;*/
	background-color: #f7d74b;
	border-bottom: 2px solid black;
}

#navbar{
	/*border: 1px solid red;*/
	position: relative;
	display: flex;
	justify-content: flex-end;
	min-width: relative;
	width: 100%;
	min-height: relative;
	height: 100%;
	
}


.navLink{
	/*border: 1px solid blue;*/
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: relative;
	width: 120px;
	min-height: relative;
	height: 100%;
	margin: 0px 30px 0px 0px;
	font-size: 1.8em;
	color: #202020;
	text-decoration: none;

}

#welcome-section{
	/*border: 1px solid red;*/
	min-width: 100%;
	width: 100%;
	min-height: 90vh;
	height: 90vh;
	background-color: #000;
	margin-bottom: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

}

#welcome-sectionH1{
	/*border: 1px solid blue;*/
	font-family: ONEDAY;
	src: url('assets/ONEDAY/ONEDAY.ttf') format('ttf');
	font-size: 3.5em;
	color: #f7d74b;
}

#welcome-sectionP{
	/*border: 1px solid blue;*/
	font-family: sans-serif;
	font-size: 1.5rem;
	color: #9fdf00;
	margin: -10px;

}

#projects{
	border: 1px solid red;
	min-width: 100%;
	width: 100%;
	min-height: 80vh;
	height: 80vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#projectsH1{
	border: 1px solid blue;
	height: 20%;
	width: 100%;
	font-family: sans-serif;
	font-size: 2.2rem;
	text-align: center;
}

#cardsDiv{
	/*border: 1px solid blue;*/
	display: flex;
	min-height: 80%;
	height: 80%;
	min-width: 100%;
	width: 100%;
	flex-direction: row;
	justify-content: center;
	align-items: center;

}

.cards{
	border: 1px solid #202020;
	min-height: 90%;
	height: 90%;
	min-width: 20%;
	width: 22%;
	border-radius: 10px;
	margin: 0px 40px 0px 40px;

}


.cardsImage{
	/*border: 1px solid blue;*/
	min-height: 80%;
	height: 80%;
	width: 100%;
	border-radius: 10px 10px 0px 0px;

}

.cardsP{
	/*border: 1px dotted blue;*/
	border-radius: 0px 0px 10px 10px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 20%;
	margin-top: -1px;
	font-family: sans-serif;
	font-size: 1.5rem;
}

#projectsMore{
	border: 1px solid red;

}

#Cooperation{
	border: 1px dotted red;
}

#CooperationH1{
	border: 1px solid blue;
}

.guycards{
	border: 1px dotted blue;
}

.guyImages{
	border: 1px dotted black;
}

.guysP{
	border: 1px dotted red;
}

#guyMore{
	border: 1px solid red;
}

#footer{
	border: 1px solid red;
}

#working{
	border: 1px dotted blue;
}

#workingTitle{
	border: 1px dotted black;
}

#workingP{
	border: 1px solid blue;
}

#ContactPart{
	border: 1px solid blue;
}

#copyRight{
	border: 1px solid red;
}

#copyRightP{
	border: 1px solid blue;
}